<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/global.css" />
    <title>{{ title }}</title>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="#">辩论论坛</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://bootstrap-flask.readthedocs.io/" target="_blank">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://getbootstrap.com/docs/4.6/getting-started/introduction/"
                            target="_blank">Bootstrap Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/greyli/bootstrap-flask" target="_blank">GitHub</a>
                    </li>
                </ul> -->
          <form class="form-inline mt-2 mt-md-0">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
          {% if current_user.is_anonymous %}
          <button id="glLoginBtn" type="button" class="btn btn-link">
            登录
          </button>
          {% else %}
          <button id="glLogoutBtn" type="button" class="btn btn-link">
            注销
          </button>
          {% endif %}
          <a class="btn btn-outline-primary" href="/register">去注册</a>
        </div>
      </nav>
    </header>
    <main class="flex-shrink-0">
      <div class="container">{% block content %}{% endblock %}</div>
    </main>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">登录</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="loginForm" class="needs-validation" novalidate>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >用户名</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">密码</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                />
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="remember" name="remember">
                  <label class="form-check-label" for="remember">
                    记住我
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              关闭
            </button>
            <button id="modalLoginBtn" type="button" class="btn btn-primary">
              <span
                id="submit_loading"
                class="spinner-border spinner-border-sm"
                style="display: none"
              ></span>
              登录
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      const _token = "{{ csrf_token() }}";
      window.onload = function () {
        const form = document.getElementById("loginForm");
        $("#glLoginBtn").click(function () {
          $("#loginModal").modal();
        });

        $("#loginModal").on("hidden.bs.modal", function (e) {
          // 清空表单
          $("#name").val("");
          $("#password").val("");
        });

        function validateForm() {
          return new Promise((resolve, reject) => {
            let flag = true;
            if (form.checkValidity() === false) {
              flag = false;
            }

            const nameVal = $("#name").val();
            const pwdVal = $("#password").val();

            if (nameVal) {
              $("#name").removeClass("is-invalid");
            } else {
              $("#name").addClass("is-invalid");
              flag = false;
            }

            if (pwdVal ) {
              $("#password").removeClass("is-invalid");
            } else {
              $("#password").addClass("is-invalid");
              flag = false;
            }

            if (flag) {
              resolve();
            } else {
              reject();
            }
          });
        }

        $("#modalLoginBtn").click((e) => {
          e.preventDefault();
          validateForm().then(() => {
            $("#modalLoginBtn").attr("disabled", true);
            $("#submit_loading").css("display", "inline-block");
            const f = new FormData(form);
            f.set('remember', $('#remember').get(0).checked);
            fetch("/login", {
              method: "POST",
              body: f,
              headers: {
                "X-CSRFToken": _token,
              },
            }).then((r) => {
              return r.json()
            }).then(r => {
              console.log(r);
              $("#submit_loading").css("display", "none");
              $("#modalLoginBtn").attr("disabled", false);
              if (r.success) {
                // 跳到首页
                window.location.href = '/';
              }
            })
          });
        });

        $('#glLogoutBtn').click(() => {
          fetch("/logout", {
            method: "POST",
            headers: {
              "X-CSRFToken": _token,
            },
          }).then((r) => {
            return r.json()
          }).then(r => {
            console.log(r);
            if (r.success) {
              // 跳到首页
              window.location.href = '/';
            }
          })
        })
      };
    </script>

    {{ bootstrap.load_js() }}
  </body>
</html>
