{% extends 'base.html' %} {% block css_source %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %} {% block content %}
<div class="topic-wrap">
  {% if current_user.is_authenticated %}
  <div class="mb-3 index-search-wrap">
    <div class="search-wrap">
      <input id="search-text" class="form-control" style="margin-right: .5rem;" />
      <button id="index-search-btn" type="button" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </div>
    <button id="topic-empty-add" class="btn btn-primary">
      创建主题
    </button>
  </div>
  {% endif %}
  <div id="topic-loading" class="spinner-border text-primary" role="status" style="display: none;">
    <span class="sr-only">Loading...</span>
  </div>
  <div id="topic-empty-mess" class="index-empty-wrap" style="display: none;">暂无主题</div>
  <div id="topiclist-wrap" class="row"></div>
</div>
<!-- 创建主题 start -->
<div class="modal fade" id="addTopicModal" tabindex="-1" role="dialog" aria-labelledby="addTopicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTopicModalLabel">创建主题</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addTopicForm" class="needs-validation" novalidate>
          <div id="addTopic-feedback"></div>
          <div class="form-group">
            <label for="topic-name" class="col-form-label">主题名称</label>
            <input type="text" class="form-control" id="topic-name" name="name" required />
          </div>
          <div class="form-group">
            <label for="topic-desc">主题描述</label>
            <textarea class="form-control" id="topic-desc" name="desc" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          关闭
        </button>
        <button id="addTopicSubmitBtn" type="button" class="btn btn-primary">
          <span id="topic-submit-loading" class="spinner-border spinner-border-sm" style="display: none"></span>
          提交
        </button>
      </div>
    </div>
  </div>
</div>
<!-- 创建主题 end -->
<script type="text/html" id="oneTopicCardTemplate">
  <a class="col-sm-12 col-md-4 col-lg-3 topic-linka" href="/topic?id=[topicId]">
    <div class="topic-card mb-3">
      <div class="text-truncate topic-card-name">[topicName]</div>
      <div class="topic-line">
        <div class="text-muted topic-card-date">更新时间: [topicDate]</div>
        <div class="text-muted topic-card-person">创建人: [topicPerson]</div>
      </div>
    </div>
  </a>
</script>
{% endblock %} {% block js_source %}
<script src="/static/js/index.js"></script>
{% endblock %}